<section>
          <header class="nav_header">
               <nav>
                    <div class="navbar">
                         <ul class="navbar_ul">

                              <li class="li_items"><a href="/"><img src="images/aktu.png" alt="Cannot Load images"
                                             height=50px" class="img_logo"></a></li>
                              <li class="li_items ">
                                   <a href="/">
                                        <div class="nav_text">
                                             Aktu Quantum
                                        </div>
                                   </a>
                              </li>
                              <li class="li_items li_itemsb">
                                   <div class="searchcontainer">

                                        <div class="searchd"> <input type="text" placeholder="Type here."> </div>
                                        <div class="searchdimg"><a href="/search"><img src="images/search.png"
                                                       alt="Search" height="20px"></a></div>
                                   </div>

                              </li>
                              <li>
                                   <a href=/courses>
                                        <div class="btnimg">
                                             <div class="div_white"><img src="images/read-book.svg" height="18px"></div>
                                             <div class="btnimg_div">Courses</div>
                                        </div>
                                   </a>
                              </li>
                              <li><a href="/services">
                                        <div class="btnimg">
                                             <div class="div_white"><img src="images/female-services-support.png"
                                                       height="18px
                                             "></div>
                                             <div class="btnimg_div">Services</div>

                                        </div>
                                   </a>
                              </li>
                              <li> <a href="/logIn">
                                        <div class="btnimg">
                                             <div class="div_white"><img src="images/login.png" height="18px"></div>
                                             <div class="btnimg_div">Log In</div>
                                        </div>
                                   </a>
                              </li>
                         </ul>
                    </div>
               </nav>
          </header>

     </section>