*{
     margin: 0px;
     padding: 0px;
     
}
li{
     list-style: none;
}
a{
     text-decoration: none;
}

/* -------------------------------------navbar */
.navbar{
     
     background-color: rgb(0, 0, 0);
     z-index:-1;
    
    
}
.nav_header{
     /* overflow: auto; */
     position: fixed;
     top: 0px;
     width:100%;
     
}
.img_logo{
     border: 2px solid yellow;
     border-radius: 27px;
}
.navbar_ul{
     display: flex;
     /* justify-content:inherit; */
     align-items: center;
     
     
     
}
.searchcontainer{
     display: flex;
     border: 3px solid yellow;
     border-radius: 9px;
     margin-left: 20px;
     padding: 0;
     height: 32px;

}
.searchd{
     border: 2px solid yellow;
     
     margin: 0px;
     padding: 0;
}
.searchd > input{
     height: 31px;
     border: none;
     font-size: 17px;
}
.searchdimg{
 background-color: white;
 
 line-height: 43px;;
}



.li_itemsb{
     /* align-self: flex-end; */
     margin-left: auto;
}

.div_white{
     line-height: 8px;
}
.btnimg {
     display: flex;
     align-items: center;
     margin: 2px 8px;
     padding: 3px 12px;
     border-radius: 9px;
     border: 2px solid yellow;
     background-color: white;
     font-size: 18px;
     height: 16x;
 }
.btnimg:hover{
     color: red;
     border: 2px solid rgb(255, 0, 0);
}
.btnimg_div{
     padding: 0px 3px;
}
.nav_text{
     font-family: 'Rock Salt', cursive;
     margin: 2px 14px;
     color: yellow;
     font-weight: bold;
     font-size: 23px;
}

/* ----------form------------ */



h1{
     color: yellow;
     font-size: 30px;
     margin: 13px 0px;
     
}
.container{
     width: 450px;
     display: block;
     margin: auto;
     padding: 150px 100px;
     text-align: center;
}
.container>div{
     background-color:rgb(26, 23, 23) ;
     
}
table{
     width: 100%;
     margin: auto;
     text-align: center;
     font-size: 20px;
     border:2px solid rgb(26, 23, 23);
     color: white;
}

tr{
     font-size: 22px;
}
td>input{
     font-size: 20px;
     padding: 2px 2px;
     margin: 4px 10px;
}
.btn_submit{
     font-size: 22px;
     padding: 2px 10px;
     margin: 3px;
     background-color: green;
     border-radius: 11px;
     color: white;
     font-weight: bold;
}

.btn_submit:hover{
     cursor: pointer;
     color: red;
}

.btn_create{
     font-size: 22px;
     background-color: rgb(0, 110, 255);
     padding: 7px 15px;
     margin: 3px;
     border-radius: 17px;
     width: 100%;
     color: white;
     font-weight: bold;
}
.btn_create:hover{
     cursor: pointer;
     color: red;

}